.forumlisthead{
	background-color: lightgrey;
	border: 1px solid grey;
}
.forumlistbody{
	border: 1px solid grey;
}
.forumlist{
	width: 100%;
}
.forum-box-head{
	border-radius: 10px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border: 1px solid grey;
	padding: 10px;
}
.forum-box-content{
	border: 1px solid grey;
}