{% include "header.html" %}

<h1>Delete all posts by {{username}}!</h1>
<b>THIS CAN NOT BE UNDONE!</b>
<script>
var run = 10;
setTimeout(function(){
	$("#postdeletebox").removeAttr("disabled");
	$("#postdeletebox2").removeAttr("disabled");
}, 10000);
var i = setInterval(function(){
	run = run - 1;
	$("#seconds").html(run + "");
	if(run == 1){
		$("#s").html("");
	}else{
		$("#s").html("s");
	}
	if(run == 0){
		clearInterval(i);
	}
}, 1000);
</script>
<form action='' method='post'>
{% csrf_token %}
<font color='red'>You must wait <span id='seconds'>10</span> more second<span id='s'>s</span> until you can delete posts</font><br>
<input type='submit' value='Delete all posts' id='postdeletebox' name='action' disabled> <input type='submit' value='Delete all posts and leave place holder' id='postdeletebox2' name='action' disabled>
</form>